<!DOCTYPE html>
<html lang="en">
<h1>Bertie's Books: Add a Book</h1>

<form action="/bookadded" method="POST">
    <div>
    <label>Book Name:</label>
    <link rel="stylesheet"  type="text/css" href="/main.css" /> 
    <input type="text" name="name" required>
    </div>
    
    <div style="margin-top: 15px;"></div>
    <label>Price:</label>
    <input type="number" name="price" required>
    </div>

    <div style="margin-top: 15px;"></div> 
    <button type="submit">Add Book</button>
    </div>
</form>
